span, p, h1, h2, h3, label, input, textarea, select, option, button
    font-family: $main-font
    
body 
    color: $main-color
    background-color: $body-bg

label 
    user-select: none
    
button 
    color: $main-color

input, textarea
    color: $main-color
    background-color: $input-bg

input:focus, textarea:focus
    background-color: $input-focus-bg
    
.title 
    user-select: none
    display: flex
    align-items: center
    font-size: 24px
    font-weight: 500
