span, p, h1, h2, h3, label, input, select, option, button
    font-family: $main-font
    color: $main-color
    
body 
    background-color: $body-bg

label 
    user-select: none

input
    background-color: $input-bg
    