.is-hidden
    display: none

.is-disabled
    color: darken($main-color, 25%) !important
    
button.is-disabled
    background-color: grey

.is-chosen
    color: darken($main-color, 90%) !important
    
.days-of-week-item.is-chosen
    background-color: #f4f4f4 !important

.locker 
    position: absolute
    opacity: 0
    
    height: 100%
    width: 100%
    background-color: #00000024
    z-index: 4