$is-invalid-color: #ff333355
$is-chosen-color: #f4f4f4

.is-hidden
    display: none

.is-disabled
    color: darken($is-chosen-color, 25%) !important

button.is-disabled
    background-color: grey

.is-chosen
    color: darken($is-chosen-color, 90%) !important

    & span
        font-weight: 700 !important

.is-invalid 
    background-color: $is-invalid-color !important

.is-invalid::-webkit-scrollbar
    background: $is-invalid-color !important

.days-of-week-item.is-chosen, 
.months-item.is-chosen, 
.days-of-month-item.is-chosen
    background-color: $is-chosen-color !important

.locker
    position: absolute
    left: 0
    opacity: 0

    height: 100%
    width: 100%
    background-color: #00000024
    z-index: 4

