$main-font: 'Montserrat', sans-serif
$main-color: #fff // TODO
$input-color: #000 // TODO

$input-font-size: 24px

$std-hor-padding: 16px
$std-ver-padding: 12px
$block-ver-padding: 2 * $std-ver-padding

$container-top: 36px
$container-items-margin: 24px
$container-width: 720px
$schedule-header: 72px
$schedule-height: 480px
$schedule-radius: 25px
$content-height: $schedule-height - $schedule-header
$content-width: calc($container-width - math.div($container-width, 5))
$btns-height: 48px
$cron-height: 48px
$days-of-week-item-size: 64px
$days-of-week-item-border: 1px solid #00000000
$months-item-size: 64px
$months-item-border: 1px solid #00000000
$day-of-month-item-size: 54px
$day-of-month-item-border: 1px solid #00000000
$scroll-btn-size: 30px
$scroll-btn-bg-color: #0000007f
$scrollbar-width: 8px
$scrollbar-position: 0 - $scroll-btn-size - $scrollbar-width * 1.5

$body-bg: #eeeeee
$cron-bg: #4c4c4c
$schedule-bg: #4c4c4c// #4c4c4c
$schedule-header-bg: #2e2e2e
$radio-color: #282828
$input-bg: #00000072
$btn-input-bg: #1b1b1b
$input-focus-bg: #00000060
$list-border: 1px solid #282828
$btn-bg: #aadeb4
$btn-hover-bg: #8cf4a1
$btn-active-bg: #36ff5e
$trash-bg: #f5f5f5
$trash-hover-bg: #c8c8c8
$trash-active-bg: #888888
$trash-disabled-bg: #888888