
@mixin scrollbar()
    overflow-y: scroll
    &::-webkit-scrollbar
        background: none
        width: 8px

    &::-webkit-scrollbar-thumb
        background-color: #ffffff3b
        border-radius: 25px
        width: 8px