.at-time
    $at-time-item-padding: 12px
    $at-time-height: calc( $schedule-height - $schedule-header - 3*$block-ver-padding - math.div($schedule-header, 1.5))
    
    max-height: $at-time-height
    font-weight: 500

    & > .title

        // position: sticky
        // top: 0

        padding-bottom: $at-time-item-padding

        z-index: 5

        border-bottom: 1px solid $radio-color
        background-color: $schedule-bg

        .radio
            margin-left: 2px
            margin-right: $at-time-item-padding
    
    &-list
        $at-time-item-heigth: 48px
        position: relative
        padding-bottom: $at-time-item-heigth + $at-time-item-padding
        font-size: 18px

        & .item
            display: flex
            justify-content: space-between
            align-content: center

            box-sizing: border-box

            height: $at-time-item-heigth
            padding: 0 $at-time-item-padding

            border-bottom: 1px solid $radio-color

            & .title 
                user-select: none
                display: flex
                justify-content: center
                align-items: center
                width: 48px

            & label
                display: flex
                justify-content: space-evenly
                align-items: center
                width: 50%

            & input
                width: $at-time-item-heigth
                height: 100%

                font-size: 24px
                font-weight: 600
                text-align: center
                color: $main-color

            & .btn-div 
                display: flex
                justify-content: center
                align-items: center
                height: 100%
                // width: $at-time-item-heigth

                & svg
                    height: 75%
                    width: fit-content

                & svg path
                    fill: $trash-bg

                & svg:hover path
                    fill: $trash-hover-bg

                & svg:active path
                    fill: $trash-active-bg

                & svg.is-disabled path
                    fill: $trash-disabled-bg
                    
        & .add
            position: absolute
            bottom: 0

            & .btn-div
                height: $at-time-item-heigth
                width: 148px
