.btn
    width: 100%
    height: 100%

    font-size: 18px
    font-weight: 700

    border-radius: 0.25em

    background-color: $btn-bg

.btn:hover
    background-color: $btn-hover-bg

.btn:active
    background-color: $btn-active-bg