@import ../mixines/list.mixines

.days-of-week-list
    @include list(center)

    // padding: 0 math.div($days-of-week-item-size, 6)
    // background: lighten($btn-input-bg, 7.5%)
    // border-radius: math.div($days-of-week-item-size, 12)

.days-of-week-item
    @include list-item($days-of-week-item-size)

    -moz-background-clip: content  
    -webkit-background-clip: content
    background-clip: content-box

    border-right: $days-of-week-item-border
    border-left: $days-of-week-item-border


