
.each-min
    display: flex
    justify-content: start
    align-items: flex-start

    width: 100%
    height: math.div($schedule-header, 1.5)
    
    padding: $block-ver-padding 0 

    & label
        font-size: 24px
        font-weight: 500

        & input
            color: #eaeaea
            text-align: center
            width: 48px
            border-radius: 5px
            
        & input:focus
            outline: none