.cron
    @include scrollbar
    
    width: $container-width
    height: fit-content
    max-height: 2 * $cron-height

    background-color: $cron-bg
    border-radius: 7px

    & input 
        font-size: $input-font-size - 4px

        box-sizing: border-box
        padding: 0 $std-hor-padding

        width: 100%
        height: $cron-height
        background: none

        &:focus 
            outline: none
            border: none